<template>
  <div>
    <div class="container">
      <h2>Agregar Usuarios</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Agregar Usuarios
          <router-link
            to="/"
            class="btn btn-info pull-right"
            style="margin-top: -7px; margin-left: 2px"
            >Lista de Usuarios</router-link
          >
        </div>
        <div class="panel-body">
          <form @submit.prevent="addStudent">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" v-model="student.name" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                v-model="student.email"
              />
            </div>
            <div class="form-group">
              <label>Telefono Celular</label>
              <input
                type="text"
                class="form-control"
                v-model="student.mobile"
              />
            </div>
            <div class="form-group">
              <label>Tipo de cliente</label>
              <select class="form-control" v-model="student.tipeuser">
                <option value="maNaturalle">Natural</option>
                <option value="Empresarial">Empresarial</option>
                <option value="Otro">Otro</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  data() {
    return {
      student: {},
    };
  },
  methods: {
    addStudent() {
      this.axios
        .post("http://localhost:8000/api/students", this.student)
        .then((response) => this.$router.push({ name: "home" }))
        .catch((err) => console.log(err))
        .finally(() => (this.loading = false));
    },
  },
};
</script>
