<template>
  <div>
    <div class="container">
      <h2>Actualizar Usuarios</h2>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Actualizar Usuarios
          <router-link
            to="/"
            class="btn btn-info pull-right"
            style="margin-top: -7px; margin-left: 2px"
            >Lista de Usuarios</router-link
          >
        </div>
        <div class="panel-body">
          <form @submit.prevent="updateStudent">
            <div class="form-group">
              <label>Nombre Completo</label>
              <input type="text" class="form-control" v-model="student.name" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                v-model="student.email"
              />
            </div>
            <div class="form-group">
              <label>Numero Telefonico</label>
              <input
                type="text"
                class="form-control"
                v-model="student.mobile"
              />
            </div>
            <div class="form-group">
              <label>Tipo de cliente</label>
              <select class="form-control" v-model="student.tipeuser">
                <option value="Natural">Natural</option>
                <option value="Empresarial">Empresarial</option>
                <option value="Otro">Otro</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  data() {
    return {
      student: {},
    };
  },
  created() {
    this.axios
      .get(`http://localhost:8000/api/students/${this.$route.params.id}`)
      .then((res) => {
        this.student = res.data;
      });
  },
  methods: {
    updateStudent() {
      this.axios
        .patch(
          `http://localhost:8000/api/students/${this.$route.params.id}`,
          this.student
        )
        .then((res) => {
          this.$router.push({ name: "home" });
        });
    },
  },
};
</script>
           